.vscode/
.git/
venv/
sessions/
__pycache__/
.idea/
.pyc
test_files/
gui/widgets/py_virtual_pitch/
gui/uis/windows/main_window/ui_interface_prueba.py
gui/core/models/CustomPandasTableModel
gui/core/models/CustomPandasListModel